body {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: #111;
    padding-top: 50px;
}
.widespread-header h1 {
    font-size: 3rem;
    color: lightskyblue;
    text-align: center;
    margin-bottom: 100px;
}
.widespread-header h4 {
    font-size: 2rem;
    color: #ccc;
    text-align: center;
}
.widespread-header p {
    font-size: 2rem;
    color: #ccc;
    text-align: center;
}
.widespread-images-large {
    width: 90vw;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
.widespread-images-large p {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 30px;
}
.widespread-images-large img {
    max-width: 88vw;
    max-height: 800px;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 30px;
    box-shadow: -3px -3px 6px #222, -3px -3px 6px #111, 3px 3px 3px #111,  3px 3px 6px #000, inset 0 0 10px #111, inset 4px 4px 8px #000, inset 3px 3px 6px #111, inset -6px -6px 8px #222, inset -3px -3px 4px #444, inset 2px 2px 2px #333, inset -2px -2px 2px #222;
}
.slideshow{
    margin: 0 auto;
    padding-top: 50px;
    height: 800px;
    perspective: 1000px;
  }
  .content{
    margin: auto;
    width: 150px;
    perspective: 1000px;
    position:relative;
    padding-top: 80px;
    transform-style: preserve-3d;
  }
  .slider-content{
    width: 100%;
    position:absolute;
    float:right;
    animation: rotate 30s infinite linear;
    transform-style: preserve-3d;
  }
  .slider-content:hover{
    cursor: pointer;
    animation-play-state: paused;
  }
  .slider-content figure{
    width:180px;
    height:120px;
    border:1px solid #555;
    overflow:hidden;
    position:absolute;
  }
  .slider-content img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  .slider-content img:hover{
    transform: scale(1.2); 
    transition: all 300ms; 
 } 
 .shadow{ 
    position: absolute; 
    box-shadow: 0px 0px 0px #000; 
 }
 .slider-content figure:nth-child(1){
    transform:rotateY(0deg) translateZ(300px);
  }
   
  .slider-content figure:nth-child(2){
    transform:rotateY(40deg) translateZ(300px);
  }
  .slider-content figure:nth-child(3){
    transform:rotateY(80deg) translateZ(300px);
  }
  .slider-content figure:nth-child(4){
    transform:rotateY(120deg) translateZ(300px);
  }
  .slider-content figure:nth-child(5){
    transform:rotateY(160deg) translateZ(300px);
  }
  .slider-content figure:nth-child(6){
    transform:rotateY(200deg) translateZ(300px);
  }
  .slider-content figure:nth-child(7){
    transform:rotateY(240deg) translateZ(300px);
  }
  .slider-content figure:nth-child(8){
    transform:rotateY(280deg) translateZ(300px);
  }
  .slider-content figure:nth-child(9){
    transform:rotateY(320deg) translateZ(300px);
  }
  @keyframes rotate {
    from{
      transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
  }